*{
    margin: 0;
    padding: 0;
}
li{
    list-style:none ;
}
a{
    text-decoration: none;
}
.l_ycddl{
  display: none;
    width: 100%;
    height: 5rem;
   
    background-color: rgb(10, 10, 10);
    position: fixed;
    top: 0;
    z-index: 99;
}
.l_ycddl .l_lb{
    display: inline-block;
    width: auto;
    height: 100%;
   
    margin-left: 20%;
  
}

.l_ycddl .l_jrgwc{
    display: inline-block;
    width: 10rem;
    height: 3.5rem;
    margin: .75rem .5rem .75rem 0rem;
    line-height: 3.5rem;
    font-size: 1rem;
    position: relative;
    color: #fff;
    text-align: center;
    background-color: #e56a69;
    margin-left: 20%;
}

.l_ycddl .l_gwc{
    display: inline-block;
    width: 8rem;
    height: 3rem;
 
    border: 1px solid rgb(255, 254, 254);
    position: relative;
    top: 1.1rem;
    left: 1rem;
}

.l_ycddl .l_gwc::before{
    content: '';
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 auto;
    background: url(../images/neiye-daohangl-tubiao.png) no-repeat;
    background-position: -951px -51px;
}
.l_ycddl .l_gwc::after{
    content: '购物车';
    width: auto;
    height: 3rem;
    float: left;
    line-height: 3rem;
    font-size: 1rem;
    color: #fff;
}

.l_ycddl .l_lb li{
    display: inline-block;
    width: 6rem;
    line-height: 5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.l_ycddl .l_lb li::after{
    content: '';
    width: 1.2px;
    height: 1rem;
    float: right;
    margin: 2rem 0;
    background: #e9e6e6;
}


.q_body{
    width: 100%;
    height: 500px;
}
.q_top{
    width: 1400px;
    margin: 0 auto;
    height:500px;
    margin-top: 80px;
}
.q_topl{
    width: 900px;
    height: 500px;
    float: left;
}
.q_topr{
    width: 490px;
    height: 500px;
    float: left;
}

.q_top2{
    width: 490px;
    height: 40px;
    line-height: 40px;
}
.q_top2 p{
    display: inline-block;
}
.q_top3{
    margin-top: 20px;
    background-color: #e56a69;
    height: 44px;
}
.q_top3 p{
    line-height: 44px;
    margin-left: 20px;
    display: inline-block;
    color: aliceblue;
    cursor:pointer
}
.q_one{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    background-image: url("../images/tubiao.png");
    background-position:-240px -60px ;
}
.q_top4{
    height: 42px;
    line-height: 42px;
    background: transparent;
    color: #555;
    font-size: 15px;
    margin-left: 15px;
}
.q_top5{
    position: relative;
}
.q_top6{
    width: 90px;
    display: inline-block;
    color: #a0a0a0;
    font-size: 17px;
    padding-top: 13px;
}
.q_top7{
    display: inline-block;
    margin-left: 9px;
    cursor:pointer
}

.q_a{
    color: #a0a0a0;
    border: #a0a0a0 1px solid;
    padding: 3px 9px;
    display: inline-block;
    margin: 4px 4px 4px 4px;
}
.q_top8{
    margin-top: 10px;
    position: relative;
}
.q_top9{
    position: absolute;
    width: 90px;
    display: inline-block;
    color: #a0a0a0;
    font-size: 17px;
    padding-top: 13px;
}
.q_top10{
    width: 367px;
    margin-left: 92px;
}
.q_b{
    display: inline-block;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    border: #a0a0a0 1px solid;
    cursor:pointer
}

.q_top10 img{
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 6px
}
.q_top11{
    position: relative;
    display: inline-block;
    width: 490px;
    height: 60px;
    margin-top: 30px;
}
.q_top11 input{
    position: absolute;
    display: inline-block;
    width: 58px;
    height: 58px;
    border: 1px black solid;
    font-size: 1rem;
    text-align: center;
}
.q_top12{
    height: 60px;
    width: 90px;
    border: 1px black solid;
    display: inline-block;
}
.q_jia{
    margin-left: 60px;
    width: 29px;
    height: 29px;
    border-top: 1px black solid;
    border-right: 1px black solid;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    cursor:pointer
}
.q_jian{
    margin-left: 60px;
    width: 29px;
    height: 28px;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    cursor:pointer
}
.q_top13{
    position: absolute;
    width: 110px;
    height: 60px;
    border: 2px black solid;
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    cursor:pointer
}
.q_top14{
    position: absolute;
    width: 260px;
    height: 60px;
    border: 2px black solid;
    margin-left: 135px;
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #292929;
    cursor:pointer
}
.active{
    color: #a0a0a0;
    display: inline-block;
    border: 2px #000 solid;
}
.activeb{
    display: inline-block;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    border: #000000 3px solid;
}
.q_jia:hover{
    background-color: black;
    color: white;
}
.q_jian:hover{
    background-color: black;
    color: white;
}
.q_top13:hover{
    background-color: black;
    color: white;
}
.q_top14:hover{
    background-color: black;
}




.l_ovedio{
    width: 100%;
    height: auto;
  
    vertical-align:middle;
    position: relative;
}

.l_ovedio img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}
.l_ovedio .l_creative{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.l_ovedio .l_creative .l_creative_1{
    width: 55%;
    /* height: 100%; */
    display: inline-block;
    /* border: 1px solid orange; */
}
.l_ovedio .l_creative .l_creative_1 img{
    width: 9rem;
    height: 9rem;

}
.l_ovedio .l_creative .l_creative_1 .l_crwb1{
    font-size: 1.8rem;
    /* line-height: 7rem; */
    margin-top: 1rem;
    font-weight: 700;
    color: #fff;
}
.l_ovedio .l_creative .l_creative_1 .l_crwb2{
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 400;
    color: #fff;
}
.l_ovedio .l_creative .l_creative_1 a{
    width: auto;
    height: 2.5rem;
    margin-top: 1.25rem;
    line-height: 2.5rem;
    padding: 0rem .5rem 0rem 1rem;
    border: #fff 2px solid;
    border-radius: 5rem;
 
    color: #fff;
    display: inline-block;
    font-size: .9rem;
}
.l_ovedio .l_creative .l_creative_1 a:hover{
    color: #000;
    background-color: #fff;
}
.l_ovedio .l_creative .l_creative_2{
    font-size: .9rem;
    color: #fff;
    width: 40%;
  
    line-height: 1.2rem;
    display: inline-block;
    position: relative;
}

.l_ovedio .l_creative .l_creative_2::after{
    content: '';
    width: 6rem;
    height: .25rem;
    position: absolute;
    left: 0;
    top: -1.5rem;
    background: #e5e5e5;
    opacity: .4;
}



.l_spxxk{
    width: 100%;
    height: auto;
    margin-top: 40px;

    /* border: 1px solid red; */
}

.l_spxxk .l_xxktp{
    width: 60vw;
    height: auto;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
    vertical-align:middle;
}

.l_spxxk .l_xxktp img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}
.l_spxxk .l_xxlb{
    width: auto;
    height:auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    /* text-align: center; */
    display:flex;
    justify-content:center;
    /* align-items:center; */
    flex-wrap: wrap;
}
.l_spxxk .l_xxlb li{
    width: 8rem;
    height: auto;
    margin: 0rem .7rem;
    padding-bottom: .8rem;
    display: inline-block;
    vertical-align: top;
    color: #000;
    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
    text-align: center;
    /* vertical-align: top; */
    /* margin: 0 3rem; */
}

.l_spxxk .l_xxlb li>img{
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
}
.l_spxxk .l_xxlb li>p{
    font-size: 13px;
    color: #000;
}


.l_xxlb .act{
    border-bottom: 3px solid black;
}



.l_qyxtytgs{
    width: 100%;
    height: auto;
  
    vertical-align:middle;
    position: relative;
    /* border: 1px solid red; */
    margin-top: 80px;
}

.l_qyxtytgs img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}
.l_qyxtytgs .l_qyxt{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.l_qyxtytgs .l_qyxt p{
    font-size: 2.2rem;
    /* line-height: 2.6rem; */
    font-weight: 400;
    text-align: center;
    color:#fff;
    /* letter-spacing: 4px; */
}

.l_qyxtytgs .l_qyxt div{
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: .75rem 6.5rem .5rem;
    text-align: center;
    color:#fff;
}





.l_ykzlbzk{
    
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        margin-top: 40px;
    
}

.l_ykzlbzk .l_zlbz{
    width: 100%;
    height: auto;
  
    vertical-align:middle;
    position: relative;
    /* border: 1px solid red; */
   
}

.l_ykzlbzk .l_zlbz img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}
.l_ykzlbzk .l_zlbz .l_bzwb{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.l_ykzlbzk .l_zlbz .l_bzwb p{
    font-size: 2.2rem;
    /* line-height: 2.6rem; */
    font-weight: 400;
    text-align: center;
    color:#fff;
    /* letter-spacing: 4px; */
}

.l_ykzlbzk .l_zlbz .l_bzwb div{
    margin:10px auto; 
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 35px;
}

.l_ykzlbzk .l_zlbz .l_bzwb div:hover{
    color: #000;
    background-color: #fff;
}

.l_ykzlbzk .l_biaogek{
    display: none;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.l_ykzlbzk .l_biaogek .l_bg{
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.l_ykzlbzk .l_biaogek .l_bg .l_xxggcs{
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 1.2rem 2rem 1rem;
    font-weight: 400;
    color: #000;
}
.l_ykzlbzk .l_biaogek .l_bg ul{
    /* display: block; */
    display:table;
    text-align:center;
    /* width: auto; */
    height:500px;
    /* border: #000 1px solid; */
    border-right: 0;
    margin: 1rem 0rem 3rem;
    /* position: relative; */
    
}


.l_ykzlbzk .l_biaogek .l_bg >ul >li{
    display: inline-block;
    width: 32%;
    height: 194px;
    float: left;
    position: relative;
    margin: 0 2px;
    border: 1px solid rgb(5, 5, 5);
}



.l_biaogek .l_bg >ul >li>p{
    height: 1.5rem;
    font-size: .8rem;
    color: #585757;
    text-align: left;
    line-height: 1.5rem;
    padding: .75rem 1.25rem 0rem;
    position: relative;
}
.l_biaogek .l_bg >ul >li>div{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .5rem 1.25rem;
    color: #000;
    font-weight: 400;
}

.l_biaogek .l_bg .l_zskk{
    margin: 0 auto;
    width: 100%;
    height: auto;
  
    vertical-align:middle;
    position: relative;
    /* border:1px solid orange; */

}
.l_biaogek .l_bg .l_zskk img{
    width:100% ;
    height: 100%;
}
.l_biaogek .l_bg .l_zskk p{
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .5rem 0rem ;
}

.l_biaogek .l_bg .l_sqan{
    margin:30px auto; 
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgb(12, 12, 12);
    border: 1px solid rgb(8, 8, 8);
    border-radius: 35px;
}
.l_biaogek .l_bg .l_sqan:hover{
    color: rgb(255, 255, 255);
   background-color: black;
}






.l_jxzsw{
    width: 100%;
    /* height: 633px; */
     /* border: 1px solid red; */
}
.l_jxzsw .l_zyzzmx{
    /* border: 1px solid red; */
    width: 100%;
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
   margin-top: 50px;
}
.l_jxzsw .l_wutuk{
    width: 100%;
    /* height: 348px; */
    /* border: 1px solid black; */
    margin-top: 30px;
}
.l_jxzsw .l_wutuk .l_ly{
    display: inline-block;
    width: 24%;
    height: 100%;
    margin-left: 0.5%;
    text-align: center;
    vertical-align:middle;
    position: relative;
}
.l_jxzsw .l_wutuk .l_ly>img{
    display: inline-block;
    width: 100%;
   /* height: 100%; */
   vertical-align:middle;
    
}
.l_jxzsw .l_wutuk .l_ly .l_txzsk1{
    display: none;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
   
    position: absolute;
    top: 0;
    z-index:6 ;
    background-color: rgb(248, 245, 239);
    opacity: 0.7;
}
.l_ly .l_txzsk1 img{
    display: block;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin: 0 auto;
}
.l_ly .l_txzsk1 p{
    width: 60%;
    height: 54px;
    margin: 15px auto 0;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    color: #313131;
}
.l_ly .l_txzsk1 div{
    width: 107px;
    height: 48px;
    border: 4px solid orange;
    margin: 10px auto;
    color: orange;
    font-size: 12px;
    text-align: center;
    /* line-height: 15px; */
    padding-top: 10px;

}

.l_jxzsw .l_wutuk .l_ly:hover .l_txzsk1{
    display: block;
}








 .l_zzmxtcc{
    display: none;
    width: 1000px;
    height: 1152px;
    background-color: rgb(255, 254, 254);
    opacity: 1;
    margin: 50px auto;
    position: fixed;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    z-index: 99;
    overflow: hidden;
}
.l_zzmxtcc .l_tpkk{
    display: inline-block;
    width: 950px;
    height: 100%;
    margin-top: 30px;
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.l_zzmxtcc .l_guanbi{
    display: inline-block;
    float: right;
    font-size: 30px;
    color: #000;
    margin-right: 8px;
    
}
.l_zzmxtcc .l_tpkk .l_tpk1{
    display: inline-block;
    width: 600px;
    height: 100%;
    
    overflow-y:auto
}

.l_zzmxtcc .l_tpkk .l_tpk1::-webkit-scrollbar {
    width: 5px;    
    height: 1px;
}
.l_zzmxtcc .l_tpkk .l_tpk1::-webkit-scrollbar-thumb {
    border-radius: 10px;
   
    background: #c4c3c3;
}
.l_zzmxtcc .l_tpkk .l_tpk1::-webkit-scrollbar-track {
  
    border-radius: 10px;
    background: #EDEDED;
}

.l_zzmxtcc .l_tpkk .l_tpk1 img{
    width: 600px;
}
.l_zzmxtcc .l_tpkk .l_tcccbl{
    display: inline-block;
    width: 310px;
    height: 100%;
   
    position: absolute;
    top: 0;
    overflow-y:auto
}


.l_zzmxtcc .l_tpkk .l_tcccbl::-webkit-scrollbar {
    width: 5px;    
    height: 1px;
}
.l_zzmxtcc .l_tpkk .l_tcccbl::-webkit-scrollbar-thumb {
    border-radius: 10px;
   
    background: #c4c3c3;
}
.l_zzmxtcc .l_tpkk .l_tcccbl::-webkit-scrollbar-track {
  
    border-radius: 10px;
    background: #EDEDED;
}


.l_zzmxtcc .l_tpkk .l_tcccbl .l_yhyx{
    width: 90%;
    height: 90px;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 0 auto;
   
}
.l_tpkk .l_tcccbl .l_yhyx .l_xxk{
    width: 135px;
    height: 100%;
    display: inline-block;
   
}
.l_tcccbl .l_yhyx .l_xxk .l_xingming{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.l_tcccbl .l_yhyx .l_xxk .l_didian{
    font-size: 14px;
   
    color: #a0a0a0;
    padding-top: 5px;
}
.l_tcccbl .l_yhyx .l_xxk .l_jieshao{
    padding-top: 5px;
    font-size: 14px;
    color: #debc6a;
}

.l_tpkk .l_tcccbl .l_yhyx .l_touxk{
    width: 50px;
    height: 50px;
  
    display: inline-block;
    border-radius: 50%;
    float: right;
}
.l_tpkk .l_tcccbl .l_yhyx .l_touxk>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.l_zzmxtcc .l_tpkk .l_tcccbl .l_wbjj{
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 24px;
    padding: 20px 0;
    text-align: justify;
}



.l_plm{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 298px;
    border-bottom: 3px solid rgb(228, 225, 225);
   
}

.l_plm .l_okn{
   
    width: 100%;
    height: 200px;
    position: relative;

}
.l_plm .l_okn img{
    width: 100%;
    height: 100%;
}

.l_plm a{
    display: block;
    width: 100%;
    height: 25px;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    font-weight: 800;
    text-align: center;
}
.l_plm span{
    display: block;
    width: 50px;
    height: 25px;
    color: #000;
    font-size: 12px;
    line-height: 25px;
    background-color: rgb(245, 243, 243);
    text-align: center;
    margin: 0 auto;
}


.l_plm .l_okn .l_ycwbk1{
    display: none;
    width: 100%;
    height: 300px;
   
    position: absolute;
    top: 0px;
    z-index: 6;
}

.l_plm .l_okn .l_ycwbk1 .l_wbnrk1{
      
        width: 100%;
        height: 200px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(150, 150, 153);
        position: relative;
        opacity: 0.9;
}
.l_plm .l_okn .l_ycwbk1 .l_wbnrk1 .l_wbnr1{
    width: 100px;
    padding: 15px 8px;
    border: 5px solid #535353;
    font-size: 14px;
    line-height: 21px;
    color: #373737;
    text-align: center;
    display: table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    
   
    
}

.l_plm .l_okn .l_ycwbk1 .l_cde1{
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.l_plm .l_okn .l_ycwbk1 .l_vfr1{
    width: 100%;
    height: 55px;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.l_plm .l_okn:hover .l_ycwbk1{
    display: block;
}
 


.l_zzmxtcc .l_tpkk .l_tcccbl .l_thgml{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    text-align: left;
    line-height: 20px;
    padding-top: 20px;
    color: #313131;
    font-weight: 700;
    border-top: 3px solid rgb(228, 225, 225);
} 

.l_wxtcc{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    z-index: 90;
    display: none;
}



.l_wbtcc{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    z-index: 90;
    display: none;
}




.l_tuijian{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 50px;
}

.l_tuijian .l_tjk{
    width: 80%;
    height:auto;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.l_tuijian .l_tjk .l_sjstj{
    color: #000;
  /* border: 1px solid black; */
    text-align: center;
    font-size: 2.2rem;
   
    font-weight: 400;
    margin-top: 20px;
}

.l_txkx{
    display: inline-block;
    width: 18%;
    height: auto;
    /* border: 1px solid red; */
    position: relative;
    left: 4%;
}
.l_txkx .l_tpkk{
    /* border: 1px solid red;  */
    width: 100%;
    height: auto;

}

.l_txkx .l_tpkk img{
    width: 100%;
    height: auto;
}

.l_txkx a{
    display: block;
    width: 100%;
    height: auto;
    color: #000;
    font-size: .8vw;
    line-height: 1vw;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}
.l_txkx span{
    display: block;
    width: 30%;
    height: auto;
    color: #000;
    font-size: 0.4vw;
    line-height: 1vw;
    background-color: rgb(245, 243, 243);
    text-align: center;
    margin: 10px auto;
}







.l_txkx .l_tpkk .l_ycwbk{
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* border: 1px solid red; */
    position: absolute;
    top: 0px;
    z-index: 6;
    
}

.l_txkx .l_tpkk .l_ycwbk .l_wbnrk{
        display: block;
        width: 100%;
        height: 65%;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(150, 150, 153);
        position: relative;
        opacity: 0.9;
        /* display: table-cell;
    vertical-align: middle; */
}
.l_txkx .l_tpkk .l_ycwbk .l_wbnrk .l_wbnr{
    width: 60%;
    padding: 15px 8px;
    border: 6px solid #535353;
    font-size: .9vw;
    line-height: 1.5vw;
    color: #373737;
    text-align: center;
    display: table;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.l_txkx .l_tpkk .l_ycwbk .l_cde{
    width: 100%;
    height: 17.5%;
    color: #000;
    font-size: .9vw;
    line-height: 3vw;
    font-weight: 800;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.l_txkx .l_tpkk .l_ycwbk .l_vfr{
    width: 100%;
    height: 17.5%;
    color: #000;
    font-size: 0.8vw;
    /* line-height:1vw; */
    opacity: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.l_txkx .l_tpkk:hover .l_ycwbk{
    display: block;
}
 



.l_fwcnk{
    width: 100%;
   
    /* border: 1px solid red; */
    margin-top: 80px;
    width: 100%;
    height: auto;
  
    vertical-align:middle;
    position: relative;
}

.l_fwcnk img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}

.l_fwcnk .l_fwcnwb{
   
   font-size: 2.5vw;
   color:#fff;
   position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}


.l_fwcnk .l_cntbk{
    width: 79%;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
   top: 50%;
    transform: translate(-50%,-50%);

}
.l_fwcnk .l_cntbk .l_tbwbk{
    display: inline-block;
   
    width: 24%;
    height: 100%;
    /* border: 1px solid rgb(233, 201, 18); */
   
}

/* .l_fwcnk .l_cntbk .l_tbwbk::after{
    content: '';
    width: 1px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2;
    background: #959595;
} */
.l_fwcnk .l_cntbk .l_tbwbk .l_tubiao1{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* border: 1px solid brown; */
    background-image: url(../images/jlpp.png);
    background-position: -128px -5px;
    background-repeat: no-repeat;
}
.l_fwcnk .l_cntbk .l_tbwbk p{
    margin-top: 10px;
    font-size: 1vw;
    color: #fff;
    text-align: center
}
.l_fwcnk .l_cntbk .l_tbwbk p>span{
    font-size:1.5vw;
}
.l_fwcnk .l_cntbk .l_tbwbk .l_tubiao2{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* border: 1px solid brown; */
    background-image: url(../images/jlpp.png);
    background-position: -193px -5px;
    background-repeat: no-repeat;
}
.l_fwcnk .l_cntbk .l_tbwbk .l_tubiao3{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* border: 1px solid brown; */
    background-image: url(../images/jlpp.png);
    background-position: -256px -5px;
    background-repeat: no-repeat;
}
.l_fwcnk .l_cntbk .l_tbwbk .l_tubiao4{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* border: 1px solid brown; */
    background-image: url(../images/jlpp.png);
    background-position: -320px -5px;
    background-repeat: no-repeat;
}







.l_sdwtk{
    width: 100%;
    /* height: 1000px; */
    /* border: 1px solid red; */
    margin-top: 20px;
}


.l_sdwtk .l_sdwkk1{
    width: 1200px;
    height: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.l_sdwtk .l_sdwkk1 .l_caidan{
    display: block;
    width: 100%;
    height: 110px;
    border-bottom: 3px solid rgb(209, 207, 207);
    line-height: 100px;
    text-align: center
}

.l_sdwtk .l_sdwkk1 .l_caidan>li{
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 24px;
    color: #000;
    font-weight:600;
    /* border: 1px solid red; */
    margin: 0 5vw;
}

.l_sdwtk .l_sdwkk1 .l_xiangqk{
    display: block;
    width: 100%;
    height: auto;
    /* border: 1px solid orchid; */
    margin-top: 20px;
}

.l_sdwtk .l_sdwkk1 .l_xiangqk ul{
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(211, 214, 17); */
   
}
.l_sdwkk1 .l_xiangqk ul>li{
    width: 100%;
    /* height: 250px; */
    border-bottom: 1px solid rgb(173, 173, 177);
    position: relative;
    margin-top:  20px;
}

.l_sdwkk1 .l_xiangqk ul>li>.l_yhtxk{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    position: relative;
    float: left;
}
.l_sdwkk1 .l_xiangqk ul>li>.l_yhtxk>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.l_sdwkk1 .l_xiangqk ul>li>.l_xmk{
    padding-left: 65px;
}
.l_xiangqk ul>li>.l_xmk>dl{
    font-weight: 700;
    font-size: 15px;
}



.l_sdwkk1 .l_xiangqk ul>li>.l_clearfixed{
    width: 950px;
    padding-left: 65px;
    min-height: 25px;
    /* border: 1px solid orange; */
}
.l_xiangqk ul>li>.l_clearfixed>p{
    min-height: 25px;
    /* padding-right: 140px; */
    word-wrap:break-word;
    word-break:break-all;
/* word-break: normal;  */
}
.l_xiangqk ul>li>.l_clearfixed>a{
    display: inline-block;
}
.l_xiangqk ul>li>.l_clearfixed>a>img{
    display: inline-block;
    width: 159px;
    height: 159px;
    float: left;
    margin: 5px 10px 0 0;
}


.l_sdwkk1 .l_xiangqk ul>li>.l_jxsdk{
    display: inline-block;
    width: 141px;
    height: 62px;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 6px;
    z-index: 9;
    background-image: url(../images/jingxuabsaidan.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.l_xiangqk .l_ckgdsd{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(12, 12, 12);
    margin: 80px auto;
    line-height: 50px;
    text-align: center;
    border-color: #000;
    font-size: 15px;
}
.l_xiangqk .l_ckgdsd:hover{
    color:#fff;
    background-color:#000; 
}


.l_sdwkk1 .l_cjwtk{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    margin-top: 10px;
}

.l_sdwkk1 .l_cjwtk ul{
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(197, 111, 14); */
}

.l_sdwkk1 .l_cjwtk ul>li{
    width: 100%;
    height: auto;
    /* border-bottom: 1px solid rgb(190, 186, 186); */
    margin-top: 20px;
}

.l_sdwkk1 .l_cjwtk ul>li>.l_twztxk{
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(10, 10, 10); */
    margin-top: 20px;
    padding: 10px 0;
    
}
.l_sdwkk1 .l_cjwtk ul>li>.l_twztxk>.l_tx{
    display: inline-block;
    width: 45px;
    height: 45px;
    /* border: 1px solid rgb(187, 121, 121); */
    border-radius: 50%;
    float: left;

}
.l_sdwkk1 .l_cjwtk ul>li>.l_twztxk>.l_tx>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.l_sdwkk1 .l_cjwtk ul>li>.l_twztxk>p{
    margin-top: 20px;
    margin-left: 65px;
    padding-bottom: 10px;
    font-size: 15px;
    /* line-height: 1.5rem; */
    color: #313131;
    word-wrap:break-word;
    word-break:break-all;
    border-bottom: 1px solid gray;
}

.l_sdwkk1 .l_caidan .lyly{
    border-bottom: 3px solid black;
}











.l_weibu{
    width: 100%;
    height: 615px;
    /* border: 1px solid black; */
    background-color: #000;
    position: relative;
    top: 50px;
}

.l_weibu .l_weibuk{
    width: 1244px;
    height: 500px;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.l_weibu .l_weibuk .l_nrk1{
    display: inline-block;
    width: 291px;
    height: 270px;
    /* border: 1px solid rgb(223, 16, 16); */
    position: relative;
    top:-102px;
}
.l_weibu .l_weibuk .l_nrk1 .l_zaozuod{
    display:block;
    width: 100%;
    height: 35px;
    /* border: 1px solid red; */
    line-height: 35px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.l_weibu .l_weibuk .l_nrk1 .l_zaozuox{
    display:block;
    line-height: 30px;
    width: 100%;
    height: 30px;
    /* border: 1px solid rgb(221, 23, 23); */
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}
.l_weibu .l_weibuk .l_nrk1 .l_wxalk{
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 50px;
   
}
.l_weibuk .l_nrk1 .l_wxalk .l_wxan{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid white;
   margin-top: 1px;
   margin-left: 1px;
    border-radius: 50%;
    background-image: url(../images/weibu-jinglingtu.png);
    background-position: -70px 2px;
    background-repeat: no-repeat;
}
.l_weibuk .l_nrk1 .l_wxalk .l_wxan:hover{
    background-color: white;
    background-position: -251px 2px;
}

.l_weibuk .l_nrk1 .l_wxalk .l_wblj{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid white;
   margin-top: 1px;
   margin-left: 10px;
    border-radius: 50%;
    background-image: url(../images/weibu-jinglingtu.png);
    background-position: -106px 2px;
    background-repeat: no-repeat;
}
.l_weibuk .l_nrk1 .l_wxalk .l_wblj:hover{
    background-color: white;
    background-position: -287px 2px;
}


.l_weibu .l_weibuk .l_weibuleib{
    display: inline-block;
    width:  589px;
    height: 270px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: relative;
    top: -49px;
}

.l_weibu .l_weibuk .l_weibuleib .l_ullb{
    width: 539px;
    height: 100%;
    /* border: 1px solid white; */
    margin: 0 auto;
    position: relative;
}
.l_weibuleib .l_ullb>li{
    margin-left: 10px;
    /* border: 1px solid red; */
    display: inline-block;
    width: 120px;
    height: 100%;
    position: relative;
    top: -4px;
}
.l_weibuleib .l_ullb>li>a{
    /* border: 1px solid red; */
    display: block;
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
    
}

.l_weibuleib .l_ullb>li>.l_guanyuzaozuo{
    width: 60px;
   height: 40px;
   border-bottom: 1px solid gray;
   line-height: 40px;
   color: gray;
}

.l_weibuleib .l_ullb .l_li2{
    position: relative;
    top:-72px;
}
.l_weibuleib .l_ullb .l_li3{
    position: relative;
    top:-72px;
}

.l_weibuk .l_lxwmk{
    display: inline-block;
    width:343px;
    height: 270px;
    /* border: 1px solid rgb(223, 16, 16); */
}




.l_weibuk .l_lxwmk .l_lxwmx{
    width: 277px;
    height: 270px;
    /* border: 1px solid rgb(223, 16, 16); */
    float: right;
}

.l_weibuk .l_lxwmk .l_lxwmx .l_lxwm{
   display:block;
   color: gray;
   font-size: 16px;
   /* border: 1px solid red; */
   
}
.l_weibuk .l_lxwmk .l_lxwmx p{
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
}
.l_weibuk .l_lxwmk .l_lxwmx .l_zxkf{
    display: block;
    font-size: 16px;
    width: 80px;
    height: 28px;
    margin: 10px 0 15px;
    border: 1px solid #fff;
   border-radius: 15px;
    color: #fff;
    line-height: 28px;
    text-align: center;
}
.l_weibuk .l_lxwmk .l_lxwmx .l_zxkf:hover{
    color: #000;
    background-color: #fff;
}
.l_weibuk .l_lxwmk .l_lxwmx .l_zzqgstd{
    border: 1px solid white;
    display: block;
    width: 220px;
    height: 40px;
   background-color: #fff;
   color: black;
   font-size: 16px;
   text-align: center;
   line-height: 40px;
   font-weight: 700px;
   margin-top: 50px;

}

.l_weibuk .l_lxwmk .l_lxwmx .l_zzqgstd:hover{
    background-color: #000;
    color: #fff;
}

.l_weibuk .l_beian{
    width: 100%;
    height: 196px;
    border-top: 1px solid rgb(247, 237, 237);
    position: relative;
    top: -67px;
} 
.l_weibuk .l_beian p{
    width: 100%;
    height: 26px;
    text-align: center;
    /* border: 1px solid white; */
    line-height: 26px;
    font-size: 14px;
    color: gray;
    margin-top:  50px;
}
.l_weibuk .l_beian a{
    display: block;
    width: 100%;
    height: 26px;
    text-align: center;
    /* border: 1px solid white; */
    line-height: 26px;
    font-size: 14px;
    color: gray;
    margin-top:  10px;
}




.mybox {
    display: none;
    width: 1002px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid red; */
    z-index: 99;
}

.photo_nav {
    line-height: 40px;
    margin-left: 40px;
    margin-right: 32px;
    text-align: right;
    padding-top: 6px;
}

.photo_nav a {
    padding: 0 5px;
}

.photo_nav a.cur {
    color: #000;
    font-weight: bold;
}

.photo_area {
    width: 100%;
    background: #FFF;
    float: left;
    height: 600px;
    float: left;
    overflow: hidden;
    padding-left: 5px;
}

.photo_area .l {
    float: left;
    width: 63px;
    color: #FFF;
    margin-top: 190px;
}

.photo_area .m {
    float: left;
    width: 850px;
    overflow: hidden;
}

.photo_area .m div {
    display: none;
    vertical-align: middle;
    text-align: center;
    width: 870px;
    height: 600px;
    overflow: hidden;
}

.photo_area .m div img {
    vertical-align: middle;
    border: 0;
    margin-top: 20px;
}

.photo_area .r {
    float: right;
    color: rgb(5, 5, 5);
    margin-top: 190px;
    margin-right: 5px;
    /* +margin-right: 5px;
    _margin-right: 3px; */
}

.photo_ctrl {
    width: 1002px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-color: #cfd8e1;
    height: 60px;
    padding: 5px 0px;
}

.photo_ctrl .l {
    width: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

.photo_ctrl .r {
    width: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    margin-top: 15px;
}

.photo_ctrl .m {
    float: left;
}

.photo_ctrl li {
    display: inline;
    float: left;
}

.photo_ctrl li a {
    float: left;
}

.photo_ctrl.clear ul li a img {
    border: 0px;
    width: 58px;
    height: 58px;
}

.photo_ctrl.clear ul a span {
    position: absolute;
    margin-left: 0px;
    width: 58px;
    height: 58px;
    filter: alpha(opacity=50);
    _moz-opacity: 0.5;
    opacity: 0.5;
    background-color: #ccc;
    z-index: 5000;
}

.photo_ctrl.clear ul a .nomask {
    position: absolute;
    margin-left: 0px;
    width: 58px;
    height: 58px;
    filter: alpha(opacity=0);
    _moz-opacity: 0.0;
    opacity: 0.0;
    background-color: #ccc;
    z-index: 5000;
}

.photo_border1 {
    border: 1px solid #b6c3d3;
}

.photo_border2 {
    border: 1px solid #F00;
}



.l_yhzstp{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    z-index: 90;
    display: none;
}


.l_wxk{
    width: 288px;
    height: 369px;
    background-color: rgb(252, 246, 246);
    opacity: 1;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    display: none;
}

 .l_wxk img{
     display: block;
    width: 80%;
    height: 60%;
    margin: 20px auto;
}

.l_wxk p{
    display: block;
    margin: 30px auto;
    width: 80%;
    height: auto;
    line-height: 30px;
    /* padding: 20px 16px; */
    background: #f6f6f6;
    color: #000;
    font-size:14px;
    text-align: center;
}